.toast-notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 12px 18px;
    border-radius: 10px;
    color: #000000;
    font-weight: 500;
    z-index: 9999;
    min-width: 200px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.toast-notification.success {
    background-color: #28a745;
}

.toast-notification.error {
    background-color: #d4a762;
    color: #000;
}