<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-7 col-md-12">
                <h1 class="display-1 mb-4 animated bounceInDown">Explore <span class="text-primary">Your</span>Taste For Your Dream Dinner</h1>
            </div>
            <div class="col-lg-5 col-md-12">
                <img src="img/hero.png" class="img-fluid rounded animated zoomIn" alt="Home Banner">
            </div>
        </div>
    </div>
</div>