<div class="bg-light rounded service-item">
    <div class="service-content d-flex align-items-center justify-content-center p-4">
      <div class="service-content-icon text-center">
    
        <img class="img-fluid rounded animated zoomIn fixed-img" src="{{ recipe.imageUrl }}" alt="{{ recipe?.title }}" />
  
        <h5 class="mb-3">{{ recipe.title }}</h5>
        <!-- <p class="mb-4">{{ recipe?.description }}</p> -->

        <div class="align-items-center justify-content-center">
            <p class="mb-4"><i class="fas fa-utensils text-primary me-2"></i>
            {{ recipe.servings }} servings</p>
        </div>
        <div class="align-items-center justify-content-center">
            <p class="mb-4"><i class="fa fa-clock text-primary me-2"></i>
                {{ recipe.cookTime }} mins</p>
        </div>
        <div class="align-items-center justify-content-center">
            <p class="mb-4"><i class="fas fa-star text-primary me-2"></i>
                {{ recipe.difficulty }}</p>
        </div>
  
        <a [routerLink]="['/recipes', recipe._id]" class="btn btn-primary px-4 py-2 rounded-pill">
          Read More
        </a>
      </div>
    </div>
  </div>