<div class="container-fluid nav-bar">
    <div class="container">
        <nav class="navbar navbar-light navbar-expand-lg py-4">
            <a routerLink="/"  class="navbar-brand">
                <h1 class="text-primary fw-bold mb-0">Your<span class="text-dark">Taste</span> </h1>
            </a>
            <button class="navbar-toggler py-2 px-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars text-primary"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav mx-auto">
                    <a routerLink="/home" class="nav-item nav-link active" routerLinkActive="active">Home</a>
                    <a routerLink="/recipes" class="nav-item nav-link" routerLinkActive="active">Recipes</a>
                    @if (!isLoggedIn()) {
                    
                        <a routerLink="/login" class="nav-item nav-link" routerLinkActive="active">Login</a>
                        <a routerLink="/register" class="nav-item nav-link" routerLinkActive="active">Register</a>

                    } @else {
                        <a routerLink="/recipe-create" class="nav-item nav-link" routerLinkActive="active">Create</a>
                    }
                </div>
                @if (!isLoggedIn()) {

                    <div class="d-flex align-items-center gap-3">
                      <h6 class="mb-0 text-primary fw-bold">
                        Let's <span class="text-dark">cook!</span>
                      </h6>
                    </div>
                  
                  } @else {
                  
                    <div class="d-flex align-items-center gap-3">
                  
                      <h6 class="mb-0 text-primary fw-bold">
                        Let's cook,
                        <span class="text-dark">{{ email() }}</span>
                      </h6>
                  
                      <button
                        class="btn custom-logout-btn px-3 py-2 rounded-pill d-flex align-items-center gap-2 shadow-sm"
                        (click)="onLogout()"
                      >
                        <i class="bi bi-box-arrow-right"></i>
                        Logout
                      </button>
                  
                    </div>
                  
                  }
            </div>
        </nav>
    </div>
</div>
